h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(14, 14, 14);
    text-align: center;
}

body {
    background-color: rgb(171, 171, 171);
}

p {
    font-size: 14px;
}

form button img {
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

button {
    border-radius: 20px;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}